body{
  background-color: antiquewhite;
}

.contenedor{
  margin-left: 5%;
  margin-top: 4em;
}

.principio{
  position: absolute;
  top: -0px;
 }

 .container{
  display: flex;
  position: fixed;
  border: 5px double rgb(247, 241, 241);
  background-color: rgb(91, 9, 9);
  width: 95%;
  height: auto;
  border-radius: 1em;
  color: white;
  font-size: 1.5em;
  padding-left: 0.5em;
  top: 0; /* Fija el header en la parte superior */
  z-index: 1000; /* Asegura que el header esté encima del contenido */
}

/* imágenes */
.logoC{
  max-width: 1.8em; 
  height: auto;
  border-radius: 20px;
  margin-top: 0.2em;
  padding-inline: 0.5em;
}

/* #hero{
  display: flex;
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
  )
  ,url("./images/PORTADA.jpg");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center center;
} */

.nombre{
  color: white;
  white-space: nowrap; /* Evita saltos de línea */
  overflow: hidden;    /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
  font-size: 0.9em;
 text-decoration: none;
  font-style: italic;
  
}

.nombre:hover{
  color: yellow;
}
.footer{
  border: green double 4px;
  background-color: antiquewhite;
  border-radius: 1em;
  text-align: center;
}

.init{
  margin-top: 2.5em;
  border: 4px double brown;
  width: 10em;
  text-align: center;
  color: brown;
  font-style: italic;
  padding: 0.2em;

}

.cita{
  color: brown;
  font-style: italic;
  font-size: 1.5em;
}

/* summary */
.li{
  border: 1px solid brown;
  width: 90%;
  margin: 0.4em;
  font-size: 1.5em;
  padding-left: 0.5em;
 }

 .li>a{
  color: blue;
  text-decoration: none;
 }
 summary{
  color: brown;
  font-style: italic;
  font-weight: bold;
}

.subtitulo{
  color: darkred;
  margin-left: 1em;
  font-size: 1.7em;
 text-decoration: underline ;
}

.lema{
  color: blue;
  font-size: 1.2em;
}

.select{
  border: brown 1px solid;
  font-size: 1.2em;
  width: 90%;
  margin: 0.4em;
  padding: 0.3em;
}

/* evita que se meta debajo del header cuando llamo a la section */
section {
  scroll-margin-top: 7em; 
}

.image-container {
   position: relative; 
   display: inline-block; 
  } 

.image-container img 
{ 
  width: 100%; height: auto; 
} 

.image-title 
{ position: absolute; 
  bottom: 8px; 
  left: 8px; color: white; 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px; 
  font-size: 2.5em;
   border-radius: 5px;
  margin-left: 47%;
}

.portada{
  border: 4px brown double;
  max-width: 95%;
  margin-top: 2.5em;
 }

 .reserve{
  font-size: 0.7em;
  color: brown;
  text-decoration: none;
  font-style: italic;
 }
