<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <title>APOLOGÉTICA</title>
</head>
<body>
  <p id="alInicio" class="principio"></p>
    <header>
      <div class="container">
        <p class="logo"> CARMELITAS</p>
        <!-- ****************************************************** -->
        <a href="#alInicio"><img src="../images/ESCUDOCARM.png" alt="" class="logoC"></a>
       <p> <a href="../index.html" class="nombre">INICIO </a></p>
      </div>
    </header> <br><br>
    <!-- ****************************************************************** -->
<h1 class="init"></h1>
  <h3 class="cita">"No aceptes como Verdad lo que no proviene del Amor, <br> ni aceptes como Amor lo que no proviene de la Verdad"
      <br>EDITH STEIN</h3>


<!-- ****************************************************************** -->

<section id="0">
  <hr>
  <h1> TEMAS</h1>
  <div>
    <ol>
      <li class="li"><a href="#1">CLAVE</a></li>
      <li class="li"><a href="#2">DEFINICIONES</a></li>
      <li class="li"><a href="#3">PREGUNTAS</a></li>
      <li class="li"><a href="#4">RESPUESTAS</a></li>
      <li class="li"><a href="#5">PATRÍSTICA</a></li>
      <li class="li"><a href="#6">MAGISTERIO</a></li>
      <li class="li"><a href="#7"></a></li>

    </ol>

  </div>
</section><br><br> <hr><hr> <br><br>
<!-- ****************************************************************** -->
<section id="1">
  <h2 class="subtitulo">CLAVE</h2>
   <!-- /////////////////////////////////////// -->
   <ol>
    <li><details class="select">
      <summary>Inicio</summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary>Aprendizaje</summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary>Metanoia</summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->

   
   
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="2">
  <h2 class="subtitulo">DEFINICIONES</h2>
  <!-- /////////////////////////////////////// -->
  <ol>
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
 
   
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="3">
  <h2 class="subtitulo">PREGUNTAS</h2>
    <!-- /////////////////////////////////////// -->
    <ol>
      <li><details class="select">
        <summary></summary>
        <p><br><br></p>
      </details></li>
      <!-- ****************************** -->
      <li><details class="select">
        <summary></summary>
        <p><br><br></p>
      </details></li>
      <!-- ****************************** -->
  
    </ol>
    <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="4">
  <h2 class="subtitulo">RESPUESTAS</h2>
  <!-- /////////////////////////////////////// -->
  <ol>
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
 
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="5">
  <h2 class="subtitulo">PATRÍSTICA</h2>
   <!-- /////////////////////////////////////// -->
   <ol>
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    
 
   
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="6">
  <h2 class="subtitulo">MAGISTERIO</h2>
    <!-- /////////////////////////////////////// -->
    <ol>
      <li><details class="select">
        <summary></summary>
        <p><br><br></p>
      </details></li>
      <!-- ****************************** -->
      <li><details class="select">
        <summary></summary>
        <p><br><br></p>
      </details></li>
      <!-- ****************************** -->
    
     
    </ol>
    <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="7">
  <h2 class="subtitulo"></h2>
  <!-- /////////////////////////////////////// -->
  <ol>
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->

   
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->

</body>
</html>