<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../style.css">
  <title>APOLOGÉTICA</title>
</head>
<body>
  <p id="alInicio" class="principio"></p>
    <header>
      <div class="container">
        <p class="logo"> CARMELITAS</p>
        <!-- ****************************************************** -->
        <a href="#alInicio"><img src="../../images/ESCUDOCARM.png" alt="" class="logoC"></a>
       <p> <a href="../index.html" class="nombre">INICIO </a></p>
      </div>
    </header> <br><br>
    <!-- ****************************************************************** -->
<h1 class="init">PROYECTO</h1>
  <h3 class="cita">"No aceptes como Verdad lo que no proviene del Amor, <br> ni aceptes como Amor lo que no proviene de la Verdad"
      <br>EDITH STEIN</h3>


<!-- ****************************************************************** -->

<section id="0">
  <hr>  
  <h1> TEMAS</h1>
  <div>
    <ol>
     <li class="li"><a href="#1">OBJETIVO</a></li>
     <li class="li"><a href="#2">CONDICIONES</a></li>
     <li class="li"><a href="#3">PROPUESTAS</a></li>
     <li class="li"><a href="#4">APP</a></li>
     <li class="li"><a href="#5"></a></li>
     <li class="li"><a href="#6"></a></li>
     <li class="li"><a href="#7"></a></li>

    </ol>

  </div>
</section><br><br> <hr><hr> <br><br>
<!-- ****************************************************************** -->
<section id="1">
  <h2 class="subtitulo"></h2>
   <!-- /////////////////////////////////////// -->
   <ol>
    <li><details class="select">
      <summary>Necesidad</summary>
      <p><ol>
        <li>Realizar las visitas con la formación necesaria</li>
        <li>Para católicos ocasionales</li>
        <li>Para no católicos </li>
        <li></li>
      </ol><br><br></p>
    </details></li>
    <!-- ****************************** -->

    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->

   
   
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="2">
  <h2 class="subtitulo">CONDICIONES</h2>
  <!-- /////////////////////////////////////// -->
  <ol>
    <li><details class="select">
      <summary>Situación Inicial</summary>
      <p><ol>
        <li>Buena intención</li>
        <li>Cierta inseguridad</li>
        <li>Sin hábito de lectura</li>
        <li>Ausencia de retención de textos </li>
        <li></li>
      </ol><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
   
   
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="3">
  <h2 class="subtitulo">PROPUESTAS</h2>
    <!-- /////////////////////////////////////// -->
    <ol>
      <li><details class="select">
        <summary>Secuencia de Temas</summary>
        <p><ol>
          <li>En primer momento pareció lo lógico ir de los temas mas sencillos a los más complejos</li>
          <li>Observé que el principal problema es: <b>Como se interpretan las Escrituras</b></li>
          <li>Las diferencias entre católicos y no católicos, aún dentro de la misma iglesia está en los diferentes enfoques y énfasis a determinados principios o textos</li>
          <li>Es en fin, la fidelidad al Señor en la Verdad de su Proyecto</li>
          <li>Es este el principio de crecimiento espiritual, conversión y Finalidad de este proyecto</li>
          <li>POR LO QUE LA SECUENCIA DE TEMAS SERÁ: <br><b>Elegir temas que den una pauta de interpretación, empezando por las más sencillas de aplicar</b></li>
        </ol><br><br></p>
      </details></li>
      <!-- ****************************** -->
      <li><details class="select">
        <summary>Recordar los textos</summary>
        <p><ol>
          <li>inicialmente desarrollaré una app donde estén los temas más comunes </li>
          <li>En un segundo momento, insertaré una clave que recuerde textos fundamentales. Ejemplo mat1618</li>
          <li>La tercera parte será una interactividad entre el usuario y la app donde se elija un tema, las objeciones y se tenga que introducir las respuestas</li>
          <li></li>
        </ol><br><br></p>
      </details></li>
      <!-- ****************************** -->
      <li><details class="select">
        <summary>Mayor unión con Cristo</summary>
        <p><ol>
          <li>No existe una unión con Cristo, si no hay una unión en Cristo y con los hermanos</li>
          <li>Por lo que la intención no es ganar, o defenderme, sino ambos crecer en santidad</li>
          <li>Si las condiciones no se dan para este objetivo, es mejor evitar el diálogo</li>
          <li>Cada tema tendrá un elemento, que he llamado metanoia, que tendrá una sutil invitación a la conversión</li>
          <li></li>
        </ol><br><br></p>
      </details></li>
      <!-- ****************************** -->
      <li><details class="select">
        <summary></summary>
        <p><br><br></p>
      </details></li>
      <!-- ****************************** -->
  
    </ol>
    <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="4">
  <h2 class="subtitulo">APP</h2>
  <!-- /////////////////////////////////////// -->
  <ol>
    <li><details class="select">
      <summary>Inicio</summary>
      <p><ol>
        <li>HTML Y CSS</li>
        <li>Deployed en Github</li>
        <li>HTML-CSS Y JAVASCRIPT</li>
        <li>Luego de un periodo de prueba aproximadamente 2 años</li>
        <li>Migrar a VUE3- VUETIFY</li>
        <li>Deploy inicialmente en Github</li>
        <li></li>
      </ol><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary>Estructura</summary>
      <p><ol>
        <li>Cada tema tendrá inicialmente 7 elementos
          <ol>
            <li><b>CLAVE</b>
              <OL>
                <p>Tendrá el menos 3 elementos:</p>
                <LI>Inicio, donde estarán la idea general del tema</LI>
                <LI>Aprendizaje, donde estará la clave interpretativa</LI>
                <LI>Metanoia, aquí estará la invitación a la conversión personal</LI> <br><br>
              </OL>
            </li>
            <b><li>DEFINICIONES</li>
              <li>PREGUNTAS</li>
              <li>RESPUESTAS</li>
              <li>PATRÍSTICA</li>
              <li>MAGISTERIO</li>
              <li>LIBRE O ANOTACIONES</li></b>
          </ol>
        </li>
        <li>Se hace necesario tener como consultar los documentos de la Iglesia, tendrá una sección aparte:</li>
    <b>    <li>Donde habrá un resumen del texto</li>
      <li>Un enlace a la página oficial, generalmente del mismo Vaticano</li>
      <li>E investigaciones concretas donde se haya usado el documento</li></b>
        <li></li>
      </ol><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary>Layouts</summary>
      <p>
        <ol>
          <li>Para una mejor memorización la estructura de cada tema será similar</li>
          <li>Construiré un layout ad doc</li>
          <li></li>
      
        </ol><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
 
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="5">
  <h2 class="subtitulo">SECUENCIA DE PRINCIPIOS</h2>
   <!-- /////////////////////////////////////// -->
   <ol>
    <li><details class="select">
      <summary>Reglas de Interpretación</summary>
      <p><ol>
        <li>El Texto En El Contexto</li>
        <li>Los pre-conceptos(Temas que incluyen temas. Ejemplo: Las Procesiones)</li>
        <li>Centralidad de la Persona de Jesús</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary>Desarrollo de las Reglas en la App</summary>
      <p>
        <ol>
          <li>El texto en el Contexto (Imágenes)</li>
          <li>Los Pre-conceptos (Procesiones)</li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    
 
   
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="6">
  <h2 class="subtitulo"></h2>
    <!-- /////////////////////////////////////// -->
    <ol>
      <li><details class="select">
        <summary></summary>
        <p><br><br></p>
      </details></li>
      <!-- ****************************** -->
      <li><details class="select">
        <summary></summary>
        <p><br><br></p>
      </details></li>
      <!-- ****************************** -->
    
     
    </ol>
    <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->
<section id="7">
  <h2 class="subtitulo"></h2>
  <!-- /////////////////////////////////////// -->
  <ol>
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->
    <li><details class="select">
      <summary></summary>
      <p><br><br></p>
    </details></li>
    <!-- ****************************** -->

   
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->




</body>
</html>